.buttons {
  display: flex;
  gap: 39px;
  justify-content: space-around;
  margin-top: 20px;
}

.button {
  text-align: start;
  padding-left: 21px;
  width: 20%;
  height: 41px;
  border: 1px solid rgb(135, 206, 235);
  border-radius: 5px;
  color: rgb(255, 255, 255);
  background-color: transparent;
  font-family: "Montserrat";
  font-size: 16px;
  font-weight: 500;
  line-height: 20px;
  cursor: pointer;
}

.clickedBtn {
  text-align: start;
  padding-left: 21px;
  width: 20%;
  height: 41px;
  border: 1px solid rgb(135, 206, 235);
  border-radius: 5px;
  color: rgb(0, 0, 0);
  background-color: rgb(135, 206, 235);
  font-family: "Montserrat";
  font-size: 16px;
  font-weight: 500;
  line-height: 20px;
  cursor: pointer;
}
