.item-wrapper {
  display: flex;
  flex-direction: column;
  width: 198px;
  height: 248px;
  border-radius: 25px;
  background: rgb(20, 22, 26);
  align-items: center;
  padding: 17px 0 15px;
}

.item-wrapper img {
  width: 118px;
  height: 118px;
  border-radius: 50%;
  margin-bottom: 37px;
}

.item-wrapper h4 {
  color: rgb(255, 255, 255);
  font-family: "Roboto";
  font-size: 20px;
  font-weight: 400;
  line-height: 20.02px;
  letter-spacing: 0.15px;
}

.item-wrapper button {
  width: 106px;
  height: 30px;
  background: rgb(255, 0, 0);
  color: rgb(255, 255, 255);
  font-family: "Roboto";
  font-size: 20px;
  font-weight: 400;
  line-height: 20.02px;
  letter-spacing: 0.15px;
  margin-top: 15px;
}
