.error-wrapper {
  display: flex;
  justify-content: space-around;
}

.errorPage {
  height: 600px;
  width: 600px;
}
.content p {
  color: #ffffff;
  font-size: 24px;
}

.content h1 {
  margin-top: 200px;
  color: rgb(135, 206, 235);
  font-family: "Montserrat";
  font-size: 32px;
  font-weight: 700;
  line-height: 72px;
  letter-spacing: -0.5px;
  text-align: center;
}
